/* =========== Variable CSS ============ */
:root {
    --header-height: 3rem;
    --first-color: #2c2c54;
    --second-color: #ff5252;
    --title-color: #ed3030;
    --text-color: #393939;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #ffffff;

/* =========== FONT & TYPE ============ */
    --body-font: 'Poppins' , sans-serif;
    --biggest-size: 2.25rem;
    --h1-size: 1.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --normal-size: .938rem;
    --small-size: .813rem;
    --smallest-size: .75rem;

    /* =========== FONT Weight ============ */
    --font-medium : 500;
    --font-semi-bold : 600;
    --font-big : 700;

    /* =========== Margins ============ */
    --mg-1:.5rem;
    --mg-2:1rem;
    --mg-3:1.5rem;
    --mg-4:2rem;
    --mg-5:2.5rem;
    --mg-6:3rem;

    /* =========== z-index ============ */
      --z-tool-tip: 10;
      --z-fixed:100
}
@media screen and (min-width: 768px){
    :root{
    --biggest-size: 4rem;
    --h1-size: 2.25rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --normal-size: 1rem;
    --small-size: .875rem;
    --smallest-size: .813rem;
    }
}
.bx{
  cursor: pointer;
}
    /* =========== BASE ============ */
    *,::before,::after{
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }
    /*========== Variables Dark theme ==========*/
    body.dark-theme{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
  }
  
  /*========== Button Dark/Light ==========*/
  .change-theme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
  } 
    body{
        margin: var(--header-height) 0 0 0;
        font-family: var(--body-font);
        font-size: var(--normal-size);
        background-color: var(--body-color);
        color: var(--text-color);
        line-height: 1.6;
    }
    h1,h2,h3,p,ul{
        margin: 0;
    }
    ul{
        padding: 0;
        list-style:none;
    }

    a{
        text-decoration: none;
    }
    img{
        max-width: 100%;
        height: auto;
    }
      /* =========== CSS ============ */
      
      /*========== LAYOUT ==========*/
    .bd-container
    {
        max-width: 1080px;
        width: calc(100% - 2rem);
        margin-left: var(--mg-2);
        margin-right: var(--mg-2);
    }
    .bd-grid{
        display: grid;
        gap: 1.5rem;
    }
    .l-header
    {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--first-color);
    }
    .nav{
        max-width: 1024px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    @media screen and (max-width: 768px)
    {
        .nav-menu
        {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 0 1rem;
            text-align: center;
            background-color: var(--first-color);
            transition:.5s;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
            /* display: flex;
            flex-direction: row;
            flex-wrap: wrap; */
        } 
      }
    
    .nav-item
    {
        margin-bottom: var(--mg-2);
    } 
    
    .nav-list
    {
       
      width: 500px;
      justify-content: space-evenly;
    
    } 
    
    .nav_link, .nav_toggle
    {
        color: var(--title-color);
        font-weight: 900;
    
    }
    .nav-logo
    {
      color: var(--title-color);
      font-weight: 900;

    }
    /* .nav-logo:hover
    {
        color: var(--first-color);
    } */
    .nav_link{
        transition: 0.3s;
    
    }
    .nav_link:hover
    {
        font-weight: 900;
        color: #fff;
        /* font-size: var(--h2-size); */
    }
    .nav_toggle{
        font-size:1.3rem;
        cursor: pointer;
    
    }
    
    /* show menu */
    .show-menu{
        top: var(--header-height);
    }
    
    /* Active menu */
    /* .active-link{
        color: var(--first-color);
      } */
      
      /* Change background header */
      .scroll-header{
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
      }
      
    /* Scroll top */
          .scrolltop{
        position: fixed;
        right: 1rem;
        bottom: -20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3rem;
        background: rgba(6,156,84,.5);
        border-radius: .4rem;
        z-index: var(--z-tool-tip);
        transition: .4s;
        visibility: hidden;
      }  
      .scrolltop:hover{
        background-color: var(--second-color);
      }
        .scrolltop__icon{
        font-size: 1.8rem;
        color: var(--body-color);
      }
      
      /* Show scrolltop */
      .scroll-top{
        visibility: visible;
        bottom: 1.5rem;
      }
    
    /* HOME */
    .home__container{
        height: calc(100vh - var(--header-height));
        align-content: center;
      }
      
      .home__title{
        font-size: var(--biggest-size);
        color: var(--first-color);
        margin-bottom: var(--mb-1);
      }
      
      .home__subtitle{
        font-size: var(--h1-size);
        color: var(--first-color);
        margin-bottom: var(--mg-2);
      }
     .home__img{
         width: 300px;
         height: 300px;
         border-radius: 10px;
         filter: drop-shadow(4px 6px 3px #9D9897);
         justify-self: center; 
    } 
    
    /* =========BUTTON=========== */
    .button{
        display: inline-block;
        background-color: var(--first-color);
        color:var(--second-color);
        padding: .75rem 1rem;
        border-radius : .5rem;
        transition: .3s;
        font-weight: 700;
        margin-bottom: var(--mg-2);
    }
    .button:hover{
      font-weight: 900;
      color: #fff;
    }

/* -------------Dashboard----------- */
.img-background
{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: var(--first-color);
}

.card-img
{
  height: 60px;
  width: 60px;
  margin-top: 9%;
}
makaut-card-img
{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;

}
.dashboard__data{
  text-align: center;

}
.dashboard-subtitle{
 
        font-size: var(--h1-size);
        color: var(--first-color);
        margin-bottom: var(--mg-2);
}
.container
{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  /* flex-direction:column; */
  flex-wrap: wrap;
  padding: 40px 0;
  /* flex: 1 0 auto; */
}
.container .card
{
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
  inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.container .card .box
{
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card:hover .box
{
  transform: translateY(-5px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
/* background: linear-gradient(845deg ,#ff5252, #6b6b79);   */
}
.container .card .box .content
{

  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.container .card .box .content h3
{
  font-size: 1.8rem;
  color: var(--first-color);
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content a
{
position: relative;
display: inline-block;
background-color: var(--first-color);
color: var(--second-color);
margin-top: 15px;
padding: .75rem 1rem;
border-radius : .5rem;
transition: .3s;
font-weight: 700;
}
.container .card .box .content a:hover{
  font-weight: 900;
      color: #fff;
}

/* about */

.about__data{
    text-align: center;

}

.about__desciption
{
    margin-top: var(--mg-3);
}

.about__img
{
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  filter: drop-shadow(4px 6px 3px #9D9897);
  justify-self: center; 
}
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-size);
  color: var(--first-color);
  margin-bottom: var(--mb-4);
}

.section-subtitle{
  display: block;
  font-size: var(--h2-size);
  color: var(--first-color);
  margin-bottom: var(--mg-1);
  
}



/* contact us */
.contact__container
{
    text-align: center;
}
.contact__description
{
    margin-bottom: var(--mg-3);
}

/*========== FOOTER ==========*/
.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  
  .footer__logo{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
  }
  
  .footer__description{
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
  }
  
  .footer__social{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-2);
  }
  .footer__social:hover
  {
    color: var(--second-color);
  }
  
  .footer__title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
  }
  
  .footer__link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
  }
  
  .footer__link:hover{
    color: var(--second-color);
  }
  
  .footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
  }
  
  /*========== MEDIA QUERIES ==========*/
  @media screen and (min-width: 576px){
    .home__container,
    .about__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
  
    .about__data, .about__initial,
    .contact__container, .contact__initial{
      text-align: initial;
    }
  
    .about__img{
      width: 380px;
      order: -1;
    }
  
    .contact__container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;
    }
    .contact__button{
      justify-self: center;
    }
  }
  
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
  
    .section{
      padding-top: 8rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav-list{
      display: flex;
    }
    .nav-item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
    .nav_toggle{
       display: none; 
    }
  
    .change-theme{
      position: initial;
      margin-left: var(--mb-2);
    }
  
    .home__container{
      height: 100vh;
      justify-items: center;
    }
  }
  
  @media screen and (min-width: 960px){
    .bd-container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .home__img{
      width: 500px;
    }

  }
  
  /* For tall screens on mobiles y desktop*/
  @media screen and (min-height: 721px) {
      .home__container {
          height: 640px;
      }
  }